In [7]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [8]:
curr_path = os.getcwd()
input_path = os.path.join(curr_path,'cleaned_data.xlsx')

data = pd.read_excel(
    input_path,
    engine='openpyxl',
)

data.dropna(inplace=True)

In [62]:
# a helper function concats data among lagged window (length=lags) with the target
# e.g, for input dat with var = [date, X, y], lags = 2, 
#  the returned dataset will have colunn names [date_2, X_2, y_2, date_1, X_1, y_1, date, X, y] with length - 2

def flatten_data(dat, lags = 3):
    new_data = dat.copy()
    
    # add variables you don't want to include below
    dropped_col = []
    
    # uncomment and modify target dataset if wanted
    # new_data.drop(dropped_col, axis=1, inplace=True)
    
    for n in range(lags):
        fill_data = dat.shift(periods = n+1)
        fill_data.dropna(inplace=True)
        fill_data.drop(dropped_col, axis=1, inplace=True)
        
        new_data = new_data.iloc[1:, :]
        new_data = pd.concat([fill_data, new_data], axis=1)
        
        # rename added columns
        for i in range(dat.shape[1]):
            new_data.columns.values[i] = new_data.columns.values[i] + '_'  + str(n+1)
            
    return new_data

In [63]:
new_d = flatten_data(data)

In [64]:
new_d.columns.values

array(['SP500-EPS-Index_3', 'SP500-Price_3', 'UnemploymentRate_3',
       'IndustrialProduction_3', 'HousingSales_3', 'USDollarIndex_3',
       'GS10_3', 'VolumeOfTotalRetailTradeSales_3', 'IsExpanding_3',
       'SP500-EPS-Index_2_3', 'SP500-Price_2', 'UnemploymentRate_2',
       'IndustrialProduction_2', 'HousingSales_2', 'USDollarIndex_2',
       'GS10_2', 'VolumeOfTotalRetailTradeSales_2', 'IsExpanding_2',
       'SP500-EPS-Index_1_2', 'SP500-Price_1', 'UnemploymentRate_1',
       'IndustrialProduction_1', 'HousingSales_1', 'USDollarIndex_1',
       'GS10_1', 'VolumeOfTotalRetailTradeSales_1', 'IsExpanding_1',
       'Date_1', 'SP500-EPS-Index', 'SP500-Price', 'UnemploymentRate',
       'IndustrialProduction', 'HousingSales', 'USDollarIndex', 'GS10',
       'VolumeOfTotalRetailTradeSales', 'IsExpanding'], dtype=object)

In [53]:
new_d.head()

,Date_3,SP500-EPS-Index_3,SP500-Price_3,UnemploymentRate_3,IndustrialProduction_3,HousingSales_3,USDollarIndex_3,GS10_3,VolumeOfTotalRetailTradeSales_3,IsExpanding_3,...,Date,SP500-EPS-Index,SP500-Price,UnemploymentRate,IndustrialProduction,HousingSales,USDollarIndex,GS10,VolumeOfTotalRetailTradeSales,IsExpanding
44,1973-01-01,111.470208,118.4,4.9,39.8880,29900.0,108.1883,6.46,3.127384,1.0,...,1973-04-01,118.221725,110.3,5.0,40.5511,32800,100.8251,6.67,-1.501869,1
45,1973-02-01,113.674165,114.2,5.0,40.5253,29700.0,103.7461,6.64,-1.501869,1.0,...,1973-05-01,120.670618,107.2,4.9,40.8108,32000,100.0602,6.85,-0.680496,1
46,1973-03-01,115.808153,112.4,4.9,40.6055,31400.0,100.0000,6.71,-1.501869,1.0,...,1973-06-01,123.094588,104.8,4.9,40.8257,33100,98.2137,6.90,-0.680496,1
47,1973-04-01,118.221725,110.3,5.0,40.5511,32800.0,100.8251,6.67,-1.501869,1.0,...,1973-07-01,125.743387,105.8,4.8,41.0082,34200,96.2593,7.13,-0.680496,1
48,1973-05-01,120.670618,107.2,4.9,40.8108,32000.0,100.0602,6.85,-0.680496,1.0,...,1973-08-01,128.383464,103.8,4.8,40.8993,33200,97.6969,7.40,-1.289782,1